<div class="text-center">
	<!---I would love to scale this image up, but every way I try just distorts it...-->
	<img class="mt-3" src="https://cs313.mikahchapman.com/assets/img/sprites/pkmn/{{detailedPokemon.pokemon | lowercase}}.gif">
</div>

<div class="card m-3">

	<div class="list-group list-group-flush">
		<div class="list-group-item list-group-item-primary d-flex justify-content-between">
			<h3>{{detailedPokemon.pokemon}}</h3><h3 ng-if="detailedPokemon.nickname != null">"{{detailedPokemon.nickname}}"</h3>
		</div>
		<div class="list-group-item list-group-item-light d-flex justify-content-between">
			Ability:
			<span><strong>{{detailedPokemon.ability}}</strong></span>
		</div>
		<div class="list-group-item">
			{{ability.description}}
		</div>
		<div class="list-group-item list-group-item-light d-flex justify-content-between">
			Nature:
			<span><strong>{{detailedPokemon.nature}}</strong></span>
		</div>
		<div class="list-group-item list-group-item-success d-flex justify-content-between">
			Boosts <span><strong>{{nature.boosted | uppercase}}</strong></span>
		</div>
		<div class="list-group-item list-group-item-warning d-flex justify-content-between">
			Weakens <span><strong>{{nature.weakened | uppercase}}</strong></span>
		</div>
		<div class="list-group-item list-group-item-light d-flex justify-content-between">
			Held Item:
			<span><strong>{{detailedPokemon.held_item}}</strong></span>
		</div>
		<div class="list-group-item">
			{{item.description}}
		</div>

</div>
</div>
<div class="card m-3">

		<div class="list-group list-group-flush">
			<div class="list-group-item list-group-item-primary">
				<h3>Moves</h3>
			</div>
			<div class="list-group-item">
				<div class="d-flex justify-content-between">
					{{move1.name}}
					<span><strong>{{move1.type}}/{{move1.category}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					Power:
					<span><strong>{{move1.power}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					Accuracy:
					<span><strong>{{move1.accuracy}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					PP:
					<span><strong>{{move1.pp}}</strong></span>
				</div>
				<p><strong>{{move1.description}}</strong></p>
			</div>
			<div class="list-group-item" ng-if="move2 != null">
				<div class="d-flex justify-content-between">
					{{move2.name}}
					<span><strong>{{move2.type}}/{{move2.category}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					Power:
					<span><strong>{{move2.power}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					Accuracy:
					<span><strong>{{move2.accuracy}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					PP:
					<span><strong>{{move2.pp}}</strong></span>
				</div>
				<p><strong>{{move2.description}}</strong></p>
			</div>
			<div class="list-group-item" ng-if="move3 != null">
				<div class="d-flex justify-content-between">
					{{move3.name}}
					<span><strong>{{move3.type}}/{{move3.category}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					Power:
					<span><strong>{{move3.power}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					Accuracy:
					<span><strong>{{move3.accuracy}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					PP:
					<span><strong>{{move3.pp}}</strong></span>
				</div>
				<p><strong>{{move3.description}}</strong></p>
			</div>
			<div class="list-group-item" ng-if="move4 != null">
				<div class="d-flex justify-content-between">
					{{move4.name}}
					<span><strong>{{move4.type}}/{{move4.category}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					Power:
					<span><strong>{{move4.power}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					Accuracy:
					<span><strong>{{move4.accuracy}}</strong></span>
				</div>
				<div class="d-flex justify-content-between">
					PP:
					<span><strong>{{move4.pp}}</strong></span>
				</div>
				<p><strong>{{move4.description}}</strong></p>
			</div>
		</div>

</div>