<div class="panel-body">
<table class="table table-striped table-hover">
	<thead class="thead-dark">
		<tr>
			<th>Name</th>
			<th>Ability<br>Nature<br>Held&nbsp;Item</th>
			<th>Moves</th>
			<th>Stats</th>
      		<th></th>
		</tr>
	</thead>
	<tr ng-repeat="member in team.members track by $index" id="member{{$index}}">
		<td class="align-middle text-center"><img class="m-2" src="https://cs313.mikahchapman.com/assets/img/sprites/pkmn/{{member.pokemon | lowercase}}.gif"><br>
			<strong>{{member.pokemon}}</strong>
			<span ng-if="member.nickname != null"><br>"{{member.nickname}}"</span>
		</td>
		<td class="align-middle">{{member.ability}}<br>{{member.nature}}<span ng-if="member.held_item != null"><br>{{member.held_item}}</span></td>
		<td class="align-middle">
			{{member.move_1}}
			<span ng-if="member.move_2 != null"><br>{{member.move_2}}</span>
			<span ng-if="member.move_3 != null"><br>{{member.move_3}}</span>
			<span ng-if="member.move_4 != null"><br>{{member.move_4}}</span>
		</td>
		<td class="align-middle">
			<table class="rounded table-sm" ng-if="member.pokemon != null">
				<thead class="thead-dark"><tr><th></th><th>HP</th><th>Atk</th><th>Def</th><th>SpA</th><th>SpD</th><th>Spe</th></tr></thead>
				<tr>
					<th class="align-middle">IV</th>
					<td class="align-middle">{{member.hp_iv}}</td>
					<td class="align-middle">{{member.atk_iv}}</td>
					<td class="align-middle">{{member.def_iv}}</td>
					<td class="align-middle">{{member.spa_iv}}</td>
					<td class="align-middle">{{member.spd_iv}}</td>
					<td class="align-middle">{{member.spe_iv}}</td>
				</tr>
				<tr>
					<th class="align-middle">EV</th>
					<td class="align-middle">{{member.hp_ev}}</td>
					<td class="align-middle">{{member.atk_ev}}</td>
					<td class="align-middle">{{member.def_ev}}</td>
					<td class="align-middle">{{member.spa_ev}}</td>
					<td class="align-middle">{{member.spd_ev}}</td>
					<td class="align-middle">{{member.spe_ev}}</td>
				</tr>
				<thead class="thead-dark">
					<tr>
						<th class="align-middle">Stats</th>
						<th class="align-middle">{{member.calc_hp}}</th>
						<th class="align-middle">{{member.calc_attack}}</th>
						<th class="align-middle">{{member.calc_defense}}</th>
						<th class="align-middle">{{member.calc_special_attack}}</th>
						<th class="align-middle">{{member.calc_special_defense}}</th>
						<th class="align-middle">{{member.calc_speed}}</th>
					</tr>
				</thead>
			</table>
		</td>
		<td class="align-middle align-center text-center d-flex flex-column justify-content-between align-items-center">
			<button class="btn btn-success" ng-if="member.pokemon == null" ui-sref="teamEdit.slot({id: team.id, slot: {{$index + 1}}})">Add</button>
			<button class="btn btn-info m-1" ng-if="member.pokemon != null" ui-sref="pokeEdit({id: member.id})">Modify</button>
			<button class="btn btn-warning m-1" ng-if="member.pokemon != null" ui-sref="teamEdit.slot({id: team.id, slot: {{$index + 1}}})">Replace</button>
			<button class="btn btn-danger m-1" ng-if="member.pokemon != null" ng-click="removeTeamMember($index)">Remove</button>
		</td>
	</tr>
</table>
</div>
